body {
    background: rgba(70, 156, 236, 0.849);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}
.linkscontainer{
     background: white;
     border-radius: 10px;
     text-decoration: none;
     height: 40px;
     width: 600px;
     margin: auto;
     box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.473) ;
     text-align: center;
     margin-top: 8px;
     transition-delay: 33ms;



}
.linkscontainer:hover{
    transform: translateY(-5px);
    transition-delay: 33ms;
    width: 700px;

}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}